<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4">Collapsed content</h5>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  	<a class="navbar-brand mx-auto" href="#"><%= image_tag "logo.png", class: "headerLogo" %></a>
  </nav>
</div>

<div class="container-fluid bigcontainer" >
  <div class="row contentrow">
    <div class="col-md-6 col-12">
      <%= link_to firstpage_path do %>
    	<%= image_tag "pic1.jpg", class: "contentImage" %>
    	<div class="contentContainer">
    		<div class="contentDescription">
	    		<h3 class="contentHeaderBold">WHAT WE DO</h3>
	    		<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	    		<button class="contentReadMore">READ MORE</button>
    		</div>
    	</div>
      <% end %>
    </div>
    <div class="col-md-6 col-12">
    	<%= image_tag "pic2.jpg", class: "contentImage"  %>
    	<div class="contentContainer">
	    	<div class="contentDescription">
		    	<h3 class="contentHeaderBold">OUR METHODOLOGY</h3>
		    	<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		    	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	    		<button class="contentReadMore">READ MORE</button>
	    	</div>
	    </div>
    </div>
  </div>
  <div class="row contentrow">
    <div class="col-md-6 col-sm-12">
    	<%= image_tag "pic3.jpg", class: "contentImage"  %>
    	<div class="contentContainer">
	    	<div class="contentDescription">
		    	<h3 class="contentHeaderBold">WHAT WE'RE LISTENING TO</h3>
		    	<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		    	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	    		<button class="contentReadMore">READ MORE</button>
	    	</div>
	    </div>
    </div>
   <div class="col-md-6 col-sm-12">
    	<%= image_tag "pic4.jpg", class: "contentImage"  %>
    	<div class="contentContainer">
	    	<div class="contentDescription">
		    	<h3 class="contentHeaderBold">CONTACT</h3>
		    	<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	    	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	    		<button class="contentReadMore">READ MORE</button>
	    	</div>
	    </div>
    </div>
  </div>
</div>

